---
import { isLoggedIn } from "@lib/auth0";
import { getUser } from "@pages/auth/auth";
export interface Props {
  userLogged: String;
  params: URLSearchParams;
  mapa: Boolean;
}
const userLogged = getUser();
let filtros = [
  "search",
  "vendedor",
  "fecha_cierre",
  "edad",
  "precioMin",
  "precioMax",
  "distanciaMin",
  "distanciaMax",
  "mispujas"
];

const {params, mapa } = Astro.props;

console.log(params);
---

<script>
  const formF = document.querySelector("#formFiltro");

  formF.addEventListener('submit',(event) => {
    console.log("TEST");
  });
  
</script>

<div
  id="default-sidebar"
  class="fixed left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
  aria-label="Sidebar">
  <div class="h-full my-16 px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800 rounded-lg">
    <h1 class="text-black text-3xl font-medium my-2 dark:text-white text-center">FILTROS</h1>
    <ul class="space-y-2 font-medium">
      <li>
        <form
          class="flex flex-wrap"
          id="formFiltro"
          method="GET"
          enctype="multipart/form-data">
          <label for="search" class="text-black dark:text-white">Busqueda:</label>
          <input
          id="search"
          type="text"
                name={filtros[0]}
                value={params.get(filtros[0])}
                class="my-2 shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                placeholder="Título o Descripción"
          />
          
          <label for="vendedor" class="text-black dark:text-white">Vendedor:</label>
          <input
                id="vendedor"
                type="text"
                name={filtros[1]}
                value={params.get(filtros[1])}
                class="my-2 shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                placeholder="Vendedor"
                />
          
          <label for="fecha_cierre" class="text-black dark:text-white">Fecha de Cierre:</label>
          <label for="fecha_cierre" class="text-xs text-black dark:text-white">(mostrará los productos anteriores a esta)</label>
          
          <input
            id="fecha_cierre"
            type="date"
            name={filtros[2]}
            value={params.get(filtros[2])}
            class="text-gray-400 dark:text-gray-400 my-2 shadow-sm bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600  dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
            placeholder="Fecha de Cierre"
          />

          <label for="precioMin" class="text-black dark:text-white w-full"
            >Rango de Precios:</label
          >
          <input
            id="precioMin"
            type="number"
            name={filtros[4]}
            value={params.get(filtros[4])}
            min="0"
            class="mx-1 my-2 shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-2/5 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
            placeholder="Min"
          />
          <input
            id="precioMax"
            type="number"
            name={filtros[5]}
            value={params.get(filtros[5])}
            min="0"
            class="mx-1 my-2 shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-2/5 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
            placeholder="Max"
          />
          <label for="edad" class="text-black dark:text-white w-full"
            >Edad:</label
          >
          <input
            id="edad"
            type="number"
            name={filtros[3]}
            value={params.get(filtros[3])}
            min="0"
            class="mx-1 my-2 shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-2/5 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
            placeholder="Edad"
          />
            

          <button
            type="submit"
            class="flex text-left items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group w-full">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-filter"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M4 4h16v2.172a2 2 0 0 1 -.586 1.414l-4.414 4.414v7l-6 2v-8.5l-4.48 -4.928a2 2 0 0 1 -.52 -1.345v-2.227z"
              ></path></svg
            >
            <span class="flex-1 ms-3 whitespace-nowrap">Filtrar</span>
          </button>
        </form>
      </li>
      <li>
        <a href={mapa ? "/MAPA" : "/CRUD"}>
          <button
          class="flex text-left items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group w-full">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-filter-x"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M13.758 19.414l-4.758 1.586v-8.5l-4.48 -4.928a2 2 0 0 1 -.52 -1.345v-2.227h16v2.172a2 2 0 0 1 -.586 1.414l-4.414 4.414v1.5"
            ></path><path d="M22 22l-5 -5"></path><path d="M17 22l5 -5"
            ></path></svg>
          <span class="flex-1 ms-3 whitespace-nowrap">Limpiar Filtros</span>
        </button></a>
        
      </li>
      {userLogged != null && (
        <li>
          <input
        type="hidden"
        id="userLogged"
        value={userLogged.usuario}/>

        
        <li>
        <button
          id="toggleModalBtn"
          data-modal-target="default-modal"
          data-modal-toggle="default-modal"
          class="flex text-left items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group w-full">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-building-store"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M3 21l18 0"></path><path
              d="M3 7v1a3 3 0 0 0 6 0v-1m0 1a3 3 0 0 0 6 0v-1m0 1a3 3 0 0 0 6 0v-1h-18l2 -4h14l2 4"
            ></path><path d="M5 21l0 -10.15"></path><path d="M19 21l0 -10.15"
            ></path><path d="M9 21v-4a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v4"
            ></path></svg>
          <span class="flex-1 ms-3 whitespace-nowrap">Publicar Producto</span>
        </button>
      </li>
        
        )}
      
      
    </ul>
  </div>
</aside>

<script>
var myForm = document.getElementById('formFiltro');

function clean(myForm){
  var allInputs = myForm.getElementsByTagName('input');

  for (var i = 0; i < allInputs.length; i++) {
      var input = allInputs[i];

      if (input.name && !input.value) {
          input.name = '';
      }
  }

}

myForm.addEventListener('submit', function () {
    clean(myForm);
});


</script>