---
// @ts-ignore
import { acortarTexto, compararFechas } from "@lib/utils.ts";
import CldImage from "./CldImage.astro";

// Destructure props from Astro
const { titulo, descripcion, precio, fecha_cierre, imagenes, idproducto, pagado, edad } =
  Astro.props;

// Generate URLs based on the product ID
const productURL = `http://localhost:4321/Producto/${idproducto}`;
// Fetch data from the provided URL
const res = await fetch(productURL, {
  method: "GET",
  headers: {
    "Content-Type": "application/json",
  },
});

// Get the current date and the closing date of the auction
const now = new Date();
var partesFecha = fecha_cierre.split("/");

// Las partes de la fecha están en el formato [mes, día, año]
var dia = parseInt(partesFecha[0], 10) +1; 
var mes = parseInt(partesFecha[1], 10) -1;
var año = parseInt(partesFecha[2], 10);

// Creamos un objeto Date utilizando las partes de la fecha
var closeDate = new Date(año, mes, dia);

closeDate.setDate(closeDate.getDate() - 1);

// Compare dates to determine the auction state
const estado = compararFechas(now, closeDate);

const { userLogged } = Astro.props;
---

<div
  class="w-full md:w-1/2 lg:w-1/3 m-3 mx-10 max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
  <CldImage
    idproducto={idproducto}
    imagenes={imagenes}
  />
  <div class="p-5 flex flex-col justify-between">
    <div>
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
        {titulo}
      </h5>
      <div class="mt-auto">
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 h-40">
          {acortarTexto(descripcion, 100)}
        </p>
        <div class={"text-end mb-3 font-bold text-white dark:text-white"}>
          <span class={`rounded-md p-1 ${estado === 'Abierto' ? "bg-green-400 text-green-900" : (pagado ? "bg-violet-400 text-violet-900" : "bg-red-400 text-red-900")}`}>
            {pagado ? "Pagado" : estado}
          </span>
          
        </div>
        <div class="text-end mb-3 font-semibold text-black dark:text-white">
            Edad: {edad}
          </div>
        <div class="text-end mb-3 font-semibold text-black dark:text-white">
          Fecha cierre: {fecha_cierre}
        </div>
        <p class="text-end mb-3 font-bold text-xl text-black dark:text-white">
          {precio} €
        </p>
        { userLogged && (
        <div class="flex flex-wrap justify-center">
            <a
            href={"/Update?id="+ idproducto}
            class="m-1 w-1/3 flex justify-center items-center px-3 py-2 text-sm font-medium text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Editar
          </a>
          <a
          href={"/Delete?id=" + idproducto}
            class="m-1 w-1/3 flex justify-center items-center px-3 py-2 text-sm font-medium text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
            Borrar
          </a>
        </div>
        ) }
        
        
      </div>
    </div>
  </div>
</div>
