---
import Layout from "@layouts/Layout.astro";
import Itemcard from "../components/Itemcard.astro"
import PublicarProd from "@components/modals/publicarProd.astro";
import FiltrosProd from "@components/FiltrosProd.astro";
import ProductoOutput from "../api/models/ProductoOutput.ts";
import * as lib from "@lib/lib";
import { getUser } from "./auth/auth.ts";

// Sustituir por el id del user conectado
let userLogged = getUser();


const params = Astro.url.searchParams;
let data = await lib.filterProducts(
  params
);
console.log(data);
if(data.length == 0){
  const url2 = "http://127.0.0.1:8000/Productos";
  const res2 = await fetch(url2, {
    method: "GET",
    headers: {
      "Content-Type": "application/json",
    },
  });
  const prods = (await res2.json()) as ProductoOutput;
  console.log(prods);
  const data = prods;
}
console.log(data);


---

<style>
  /* No poder scrolear con el modal */
  body.modal-open {
    overflow: hidden;
  }
</style>

<Layout title="Productos">
  <PublicarProd />
  
  <button
    data-drawer-target="default-sidebar"
    data-drawer-toggle="default-sidebar"
    aria-controls="default-sidebar"
    type="button"
    class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
    <span class="sr-only">Open sidebar</span>
    <svg
      class="w-6 h-6"
      aria-hidden="true"
      fill="currentColor"
      viewBox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg">
      <path
        clip-rule="evenodd"
        fill-rule="evenodd"
        d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
      ></path>
    </svg>
  </button>

  <FiltrosProd userLogged={userLogged} params={params} mapa={false} />

  <script>
    const toggleModalBtn = document.getElementById("toggleModalBtn");
    const modal = document.getElementById("default-modal");

    toggleModalBtn.addEventListener("click", () => {
      modal.classList.toggle("hidden");
      modal.classList.toggle("flex");
      document.body.classList.toggle("modal-open"); // Agrega o elimina la clase 'modal-open'
    });

    const closeModalBtn = document.getElementById("closeModalBtn");
    closeModalBtn.addEventListener("click", () => {
      modal.classList.add("hidden");
      modal.classList.remove("flex");
      document.body.classList.remove("modal-open"); // Asegúrate de eliminar la clase 'modal-open' al cerrar el modal
    });
  </script>

  <div class="p-4 sm:ml-64">
    
    <div class="flex flex-wrap justify-center my-14">

      {
        
        data.map((item) => (
          <Itemcard
            titulo={item.titulo}
            descripcion={item.descripcion}
            fecha_cierre={item.fecha_cierre}
            precio={item.precio}
            imagenes={item.imagenes}
            idproducto={item.idProd}
            edad={item.edad}
            pagado={item.pagado}
            userLogged={userLogged}
          />
        ))
      }
    </div>
  </div>
</Layout>
